<odoo>
    <menuitem name="Locations" id="l10n_co_cei.menu_principal" parent="base.menu_administration" groups="l10n_co_cei.group_electronic_billing_manager"/>
    <menuitem name="Countries" id="l10n_co_cei.submenu_countries" parent="l10n_co_cei.menu_principal"
              action="l10n_co_cei.country" sequence="1"/>
    <menuitem name="States" id="l10n_co_cei.submenu_states" parent="l10n_co_cei.menu_principal"
              action="l10n_co_cei.state" sequence="2"/>
    <menuitem name="Cities" id="l10n_co_cei.submenu_cities" parent="l10n_co_cei.menu_principal"
              action="l10n_co_cei.city" sequence="3"/>
</odoo>