.pos-ticket-body
{
 font-size: 12px!important;;
 margin-top:15px;
 font-family: sans-serif;
 width: 100%;
 display: table;
 color: black!important;
}
.pos-ticket-body .receipt-row
{
    
    width: 100%;
    display: table-row;
}
.pos-ticket-body .receipt-row .lef
{
    display: table-cell;
}
.pos-ticket-body .receipt-row .rig
{
    display: table-cell;
    text-align: right;
}
.pos-ticket-header
{
    font-size: 12px!important;; 
    display: table;
    padding-right: 10px;
}
.pos-ticket-header .pos-header-t
{
    display: table-cell;
}
.report-logo
{
   width: 100px;
   margin-right: 20px;
   margin-top:-17px;
}
table.table-header
{
   margin-top: -30px;
}
.pos-left-align
{
    text-align: left;
}
.pos-right-align
{
    text-align: right;
}
.participant_name
{font-size: 17px!important;}
.company-rigth
{
   margin-top: -20px;  
}