div.pos-receipt-container *
{
    font-size:11px!important;
    font-family: sans-serif;
    color: rgb(0, 0, 0)!important;
}

.company-details
{
    margin-bottom: 2px;
}

.company-details label
{
    padding-right: 3px;
}

.pos-table-header
{
    border-bottom: 3px solid #ccc;
}

table.receipt-orderlines tr.pos-table-header th, table.receipt-orderlines td
{
    padding-top: 10px;
}

.pos-receipt-contact .cashier, div.pos-receipt-right-align
{display: none;}

table.totals-grid
{
    width: 100%;
}
table.totals-grid-subtotal {
    width: 85%;
    float: right;
    border-top: 1px dotted #aaa;
    font-size: 11px!important;;
    margin-top: 7px;
    margin-bottom: 7px;
}
table.totals-grid-subtotal:eq(1)
{border-top: 0px;}
table.totals-grid-subtotal td
{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px!important;;
}
.totals-grid-total
{
    width: 94%!important;
}
table.totals-grid-taxes
{
    width: 85%;
    float: right;
}
.totals-grid-payments
{
    display:block;
    margin-top: 10px;
    border-top: 1px dotted #ddd;
}
.totals-grid-payments td 
{
    padding-top: 4px;
}
.pos-receipt-order-data
{clear: both;}

.pos-table-header th 
{
    padding-right: 2px;
}
.cashier-name
{
    text-transform: capitalize;
}
.pos-receipt .pos-receipt-order-data
{
    padding-top: 10px;
}
.text-bigger td b, .text-bigger td span 
{
    font-size: 12px!important;
}