.mercadolibre_product_maestro .text-success {
   background-color: #a7f2af7d !important;
}

 .mercadolibre_product_maestro
.text-danger {
	background-color: #fb88847d !important;
}

.mercadolibre_product_maestro
.text-warning {
	background-color: #fdf57d8f !important;
}
